
.calculator {
    background-color: rgb(63, 63, 63);
    padding: 2.5rem 1.3rem;
    border-radius: 3rem;
    margin: auto;
    display: grid;
    width: 470px;
    gap: 1.5rem;
}
#display {
    width: 90%;
    padding: 3rem 1rem;
    background-color: rgb(226, 226, 226);
    border: none;
    font-size: 4rem;
    margin: auto;
}
.button {
    background-color: rgb(226, 226, 226);
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border: 0;
    border-radius: 5rem;
    font-size: 2rem;
    margin: 0.6rem 0.3rem;
    transition: all 0.2s;
    cursor: pointer;
}
.button:hover {
    scale: 1.1;
    background-color: white;
}

#c {
    background-color: rgb(226, 0, 0);
    color: white;
    margin-right: 1rem;
}
#c:hover {
    background-color: rgb(252, 40, 40);
}
#equal {
    background-color: rgb(0, 207, 45);
    color: white;
}
#equal:hover {
    background-color: rgb(2, 243, 54);
}